head
  title Blur demo
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, maximum-scale=1, user-scalable=no')
  meta(name='apple-mobile-web-app-capable', content='yes')
  meta(name='apple-mobile-web-app-status-bar-style', content='black')
  meta(name='mobile-web-app-capable', content='yes')

body
  +famousContext id='mainCtx'
    +blurred

template(name='blurred')
  +StateModifier align='[.5, .5]' origin='[.5, .5]'
    +Surface id='surf' size='[200, 200]' class='red-bg'
      | Click me
